ul, ol {
  list-style-type: disc; /* or "decimal" for ordered lists */
  list-style-position: inside; /* Use "outside" if you want bullets outside the text */
  margin: 0; /* Ensure no extra margin */
  padding-left: 20px; /* Adds spacing for bullets */
}

li {
  display: list-item; /* Ensures `<li>` renders as list items with bullets */
}

.circle{
  border-radius: 50%;
}

.light-border {
  border: 1px solid rgba(133, 133, 133, 0.5);
  border-radius: 5px;
  padding: 0.7rem;
}

.light-border:focus{
  box-shadow: 
    0 0 0 100px transparent, /* Creates the gap */
    0 0 0 1px rgba(133, 133, 133, 0.5);; /* Thin outline */
  border-radius: 5px; /* Match the existing border radius */
}

textarea:focus,
input:focus{
  outline: none;
}

.bouncing-next {
  position: relative;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    left: 0;
  }
  50% {
    left: 30px
  }
  100% {
    left: 0;
  }
}

.intro-text{
  padding-top: 100px;
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
}

.aboutme-text{
  font-weight: 500
}

.nav-pos{
  z-index: 100000;
}

.page-height{
  padding-bottom: 64px !important;
  padding-top: 64px !important;
}

.underline-hover {
  position: relative;
  text-decoration: none;
  color: inherit; 
  display: inline-block;
}

.underline-hover::after {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: 0; 
  width: 0; 
  height: 2px; 
  background-color: currentColor; 
  transition: width 0.3s ease, left 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%; 
  left: 0; 
}


.type-about-me{
  margin-top: 2rem;
  font-family: monospace;
  font-weight: bold;

}

.card-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me-text{
  margin-bottom: 2rem;
}
.aboutme-text{
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
}


.sidebar{
  position: fixed;
  z-index: 100000;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .sidebar{
    width: 100%;
  }
  .projects{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

@media (min-width: 600px) {
  .sidebar {
    width: 500px;
  }
}

.sidebar-appear{
  transform: translateX(0);
}

