#root
 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav{
  align-items: center;
}

.intro-text{
  padding-top: 100px;
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
}

.aboutme-text{
  font-weight: 500
}

.nav-bar{
  margin: 0%;
  padding: 0%;
}

.nav-bar,
.feature-list,
.style-list{
  display: table;
  margin-inline: auto;
  
}


.card-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me-text{
  margin-bottom: 2rem;
}

.aboutme-text{
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
}

.style-list,
.feature-list{
  list-style-type: circle;
  font-size: 14px;
  text-align: left;
}

.card-title{
  text-align: center;
}
