.nav{
  align-items: center;
}

ul, ol {
  list-style-type: disc; /* or "decimal" for ordered lists */
  list-style-position: inside; /* Use "outside" if you want bullets outside the text */
  margin: 0; /* Ensure no extra margin */
  padding-left: 20px; /* Adds spacing for bullets */
}

li {
  display: list-item; /* Ensures `<li>` renders as list items with bullets */
}

.circle{
  border-radius: 50%;
}

.intro-text{
  padding-top: 100px;
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
}

.aboutme-text{
  font-weight: 500
}

.page-height{
  margin-bottom: 100px;
}

.navbar{
  z-index: 100;
  width: 100vw !important;
}

.nav-text{
  width: calc(100vw - 100px);
}

.type-about-me{
  margin-top: 2rem;
  font-family: monospace;
  font-weight: bold;

}

.card-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me-text{
  margin-bottom: 2rem;
}
.aboutme-text{
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
}


.sidebar{
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .sidebar{
    width: 100%;
  }
  .projects{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

@media (min-width: 600px) {
  .sidebar {
    width: 500px;
  }
}

.sidebar-appear{
  transform: translateX(0);
}

